<section class="profile-container">
  <!-- Cabeçalho -->
  <div class="avatar-section">
    <div class="financial-avatar">
      <i class="fas fa-user-tie"></i>
    </div>
    <div class="account-status">
      <span class="status-badge verified">Cliente desde {{ userProfile.registrationDate | date: 'MM/yyyy' }}</span>
    </div>
  </div>
  <!-- Informações Pessoais -->
  <div class="financial-info">
    <div class="info-section">
      <h2><i class="fas fa-id-card"></i> Dados Pessoais</h2>
      <div class="personal-data-grid">
        <div class="data-item">
          <b><span>Nome:</span></b>
          <input class="editable-field" [(ngModel)]="userProfile.name" [disabled]="!isEditing"
            [class.readonly-field]="!isEditing">
        </div>
        <div class="data-item">
          <b><span>Sobrenome:</span></b>
          <input class="editable-field" [(ngModel)]="userProfile.lastName" [disabled]="!isEditing"
            [class.readonly-field]="!isEditing">
        </div>
        <div class="data-item">
          <b> <span>Data de Nascimento:</span></b>
          <input class="editable-field" [(ngModel)]="userProfile.birthDate" [disabled]="!isEditing"
            [class.readonly-field]="!isEditing">
        </div>
        <div class="data-item">
          <b><span>CPF/CNPJ:</span></b>
          <input class="editable-field readonly-field" [value]="'***.' + userProfile.cpfCnpj.slice(-3)" disabled>
        </div>
        <div class="data-item">
          <b><span>Profissão:</span></b>
          <input class="editable-field" [(ngModel)]="userProfile.profession" [disabled]="!isEditing"
            [class.readonly-field]="!isEditing">
        </div>
      </div>
    </div>
    <!-- Contato -->
    <div class="info-section">
      <h2><i class="fas fa-address-book"></i> Contato</h2>
      <div class="contact-grid">
        <div class="contact-method">
          <i class="fas fa-phone"></i>
          <div>
            <b><span class="contact-type">Celular</span></b>
            <input class="editable-field readonly-field"
              [value]="(userProfile.phone | slice:0:4) + '**** - ' + (userProfile.phone | slice:-3)"
              [disabled]="!isEditing" [class.readonly-field]="!isEditing">
          </div>
        </div>
        <div class="contact-method">
          <i class="fas fa-envelope"></i>
          <div>
            <b> <span class="contact-type">E-mail</span></b>
            <input class="editable-field readonly-field" [value]="userProfile.email" [disabled]="!isEditing"
              [class.readonly-field]="!isEditing">
          </div>
        </div>
      </div>
    </div>
    <!-- Endereços -->
    <div class="info-section">
      <h2><i class="fas fa-map-marker-alt"></i> Endereços</h2>
      <div class="address-grid">
        <!-- Endereço Residencial -->
        <div class="address-card">
          <h3>Residencial</h3>
          <div class="address-field-group">

            <div class="address-line">
              <b><span>Rua:</span></b>
              <input class="editable-field" [(ngModel)]="userProfile.address" [disabled]="!isEditing"
                [class.readonly-field]="!isEditing" placeholder="Rua/Avenida">

              <b><span>Bairro:</span></b>
              <input class="editable-field" [(ngModel)]="userProfile.neighborhood" [disabled]="!isEditing"
                [class.readonly-field]="!isEditing" placeholder="Bairro">
              <b><span>Numero:</span></b>
              <input class="editable-field" [(ngModel)]="userProfile.number" [disabled]="!isEditing"
                [class.readonly-field]="!isEditing" placeholder="Número" style="width: 50px" >
            </div>

            <div class="address-line">
              <b><span>Cidade:</span></b>
              <input class="editable-field" [(ngModel)]="userProfile.city" [disabled]="!isEditing"
                [class.readonly-field]="!isEditing" placeholder="Cidade">
              
              <b><span>Estado:</span></b>
              <input class="editable-field" [(ngModel)]="userProfile.state" [disabled]="!isEditing"
                [class.readonly-field]="!isEditing" placeholder="UF" maxlength="2">

              <b><span>CEP:</span></b>
              <div *ngIf="!isEditing">
                <input class="editable-field readonly-field masked-data" [value]="(userProfile.cep || 'Não informado')"
                  disabled>
              </div>
              
              <div *ngIf="isEditing">
                <input class="editable-field" [(ngModel)]="userProfile.cep" placeholder="00000-000"
                  (keypress)="validateCEP($event)" maxlength="9">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Botões de Ação -->
    <div class="profile-actions">
      <button *ngIf="!isEditing" class="btn-primary" (click)="toggleEdit()">
        <i class="fas fa-edit"></i> Editar Perfil
      </button>
      <div *ngIf="isEditing" class="edit-actions">
        <button class="btn-success" (click)="saveChanges()">
          <i class="fas fa-check"></i> Salvar Alterações
        </button>
        <button class="btn-cancel" (click)="cancelEdit()">
          <i class="fas fa-times"></i> Cancelar
        </button>
      </div>
    </div>
  </div>
</section>