<div class="main-container">
  <h1 class="title">Registrar Transação</h1>
  <form class="transaction-form" [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
    
    <!-- Descrição -->
    <div class="form-group">
      <label for="description">Descrição:</label>
      <input type="text" id="description" formControlName="description" placeholder="Digite a descrição da transação" />
    </div>

    <!-- Destinatário -->
    <div class="form-group">
      <label for="recipient">Destinatário:</label>
      <input type="text" id="recipient" formControlName="recipient" placeholder="Digite o nome do destinatário" />
    </div>

    <!-- Categoria -->
    <div class="form-group">
      <label for="category">Categoria:</label>
      <select id="category" formControlName="category">
        <option value="" disabled selected>Selecione uma categoria</option>
        <option value="alimentacao">Alimentação</option>
        <option value="transporte">Transporte</option>
        <option value="lazer">Lazer</option>
        <option value="outros">Outros</option>
      </select>
    </div>

    <!-- Tipo Pagamento -->
    <div class="form-group">
      <label for="type">Tipo:</label>
      <select id="type" formControlName="type">
        <option value="" disabled selected>Selecione o tipo</option>
        <option value="ENTRADA">Entrada</option>
        <option value="SAIDA">Saida</option>>
      </select>
    </div>

    <!-- Tipo Pagamento -->
    <div class="form-group">
      <label for="paymentType">Tipo Pagamento:</label>
      <select id="paymentType" formControlName="paymentType">
        <option value="" disabled selected>Selecione o tipo</option>
        <option value="BOLETO">Boleto</option>
        <option value="CREDITO">Crédito</option>
        <option value="DEBITO">Débito</option>
        <option value="DINHEIRO">Dinheiro</option>
        <option value="PIX">Pix</option>
      </select>
    </div>

    <!-- Situação   ATRASADO, CANCELADO, PAGO, PENDENTE, -->
    <div class="form-group">
      <label for="stats">Situação:</label>
      <select id="stats" formControlName="stats">
        <option value="" disabled selected>Selecione a situação</option>
        <option value="ATRASADO">Atrasado</option>
        <option value="PENDENTE">Pendente</option>
        <option value="PAGO">Pago</option>
        <option value="CANCELADO">Cancelada</option>
      </select>
    </div>

    <!-- Data -->
    <div class="form-group">
      <label for="date">Data:</label>
      <input type="date" id="date" formControlName="date" />
    </div>

    <!-- Valor -->
    <div class="form-group">
      <label for="amount">Valor:</label>
      <input type="number" id="amount" formControlName="amount" step="0.01" placeholder="Digite o valor" />
    </div>

    <!-- Botão de Envio -->
    <button type="submit" class="submit-button" [disabled]="transactionForm.invalid">Registrar Transação</button>
  </form>
</div>
