<!-- Filtros -->
 <div class="main" >
<div class="filter-bar">
  <nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header>Filtros</nb-accordion-item-header>
      <nb-accordion-item-body>
        <div class="filter-input-container">
          <input type="text" placeholder="Filtrar por descrição" [(ngModel)]="filters.filterDescription"
            (input)="applyFilters()">
          <select [(ngModel)]="filters.filterCategory" (change)="applyFilters()">
            <option value="">Todas categorias</option>
            <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
          </select>
          <select [(ngModel)]="filters.filterSituation" (change)="applyFilters()">
            <option value="">Todas situações</option>
            <option *ngFor="let sit of situations" [value]="sit">{{sit}}</option>
          </select>
          <input type="date" [(ngModel)]="filters.filterDate" (change)="applyFilters()">
        </div>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</div>

<!-- Tabela de transações -->
<div class="transactions-container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Descrição</th>
        <th scope="col">Favorecido</th>
        <th scope="col">Categoria</th>
        <th scope="col">Tipo Pagamento</th>
        <th scope="col">Situação</th>
        <th scope="col">Tipo</th>
        <th scope="col">Data</th>
        <th scope="col">Valor</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of filteredTransactions">
        <td>{{ transaction.code }}</td>
        <td>{{ transaction.description }}</td>
        <td>{{ transaction.recipient }}</td>
        <td>{{ transaction.category }}</td>
        <td>{{ transaction.paymentType }}</td>
        <td>{{ transaction.stats }}</td>
        <td>{{ transaction.type }}</td>
        <td>{{ transaction.date | date:'dd/MM/yyyy' }}</td>
        <td [ngClass]="{ 'positive': transaction.amount > 0 && transaction.type !== 'PAGAR', 
          'negative': transaction.amount < 0 || transaction.type === 'PAGAR' }">
{{ transaction.type === 'PAGAR' ? '-' : '' }}{{ transaction.amount | currency:'BRL' }}
</td>
        <td  class="menu-items-container">
          <button (click)="editAction()"  class="menu-items">
            <svg xmlns="http://www.w3.org/2000/svg" style="width:24px;height:24px" viewBox="0 0 24 24">
              <title>cash-edit</title>
              <path
                d="M3 6H21V9.1C19.96 9.1 19.35 9.72 19.2 9.87L19.19 9.89L19 10.07V10C18.47 10 17.96 9.79 17.59 9.41C17.21 9.04 17 8.53 17 8H7C7 8.53 6.79 9.04 6.41 9.41C6.04 9.79 5.53 10 5 10V14C5.53 14 6.04 14.21 6.41 14.59C6.79 14.96 7 15.47 7 16H13.07L11.07 18H3V6M12 9C12.8 9 13.56 9.32 14.12 9.88C14.68 10.44 15 11.2 15 12C15 12.8 14.68 13.56 14.12 14.12C13.56 14.68 12.8 15 12 15C11.2 15 10.44 14.68 9.88 14.12C9.32 13.56 9 12.8 9 12C9 11.2 9.32 10.44 9.88 9.88C10.44 9.32 11.2 9 12 9M22.7 12.6L21.4 11.3C21.3 11.2 21.2 11.1 21 11.1C20.8 11.1 20.7 11.2 20.6 11.3L19.6 12.3L21.7 14.4L22.7 13.4C22.9 13.2 22.9 12.8 22.7 12.6M15.1 21L21.1 14.9L19.1 12.8L13 18.9V21H15.1Z" />
            </svg>
          </button>
          <button (click)="cancelTransaction(transaction)"  class="menu-items"><svg xmlns="http://www.w3.org/2000/svg" style="width:24px;height:24px" viewBox="0 0 24 24">
            <title>close-box-outline</title>
            <path
              d="M19,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3M19,19H5V5H19V19M17,8.4L13.4,12L17,15.6L15.6,17L12,13.4L8.4,17L7,15.6L10.6,12L7,8.4L8.4,7L12,10.6L15.6,7L17,8.4Z" />
          </svg></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Total -->
<table class="total-table">
  <tr>
    <td colspan="10"><strong>Total Página:</strong></td>
    <td><strong>R$ {{ getCurrentPageTotal() | number:'1.2-2' }}</strong></td>
  </tr>
  <tr>
    <td colspan="10"><strong>Total Entrada:</strong></td>
    <td><strong>R$ {{ getTotalEntrada() | number:'1.2-2' }}</strong></td>
  </tr>
  <tr>
    <td colspan="10"><strong>Total Saida:</strong></td>
    <td><strong>R$ {{ getTotalSaida() | number:'1.2-2' }}</strong></td>
  </tr>
  <tr>
    <td colspan="10"><strong>Total Liquido:</strong></td>
    <td><strong>R$ {{ getTotalAmount() | number:'1.2-2' }}</strong></td>
  </tr>
</table>

<div class="pagination-container d-flex justify-content-between align-items-center p-2">
  <!-- Paginação -->
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="currentPage" [pageSize]="pageSize"
    (pageChange)="refreshTransactions()">
  </ngb-pagination>

  <!-- Seleção de tamanho da página -->
  <select class="form-select" style="width: 90px" [(ngModel)]="pageSize" (ngModelChange)="refreshTransactions()">
    <option [ngValue]="5">5 </option>
    <option [ngValue]="10">10 </option>
    <option [ngValue]="15">15 </option>
    <option [ngValue]="20">20 </option>
  </select>
</div>

</div>