/* styles.css ou styles.scss */
:root {
  --font-family-primary: 'Raleway', sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Impede rolagem horizontal indesejada */
}

.container {
  display: flex;
  min-height: 100vh;
  width: 100%; /* Garante que o container ocupe toda a largura da página */
  background-color: var(--background-color);
}